.desc__button-signup {
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.desc__button-signup:link, .desc__button-signup:visited,
.desc__button-signup:link:active, .desc__button-signup:visited:active {
    color: black;
}