.header__button-users {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.header__button-users:link, .header__button-users:visited,
.header__button-users:link:active, .header__button-users:visited:active {
    color: black;
}