.input {
    outline: none;
    padding: 0;
    text-indent: 15px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #D0CFCF;
    box-sizing: border-box;
    border-radius: 4px;
    width: 380px;
    height: 54px;
    margin-top: 50px;
}

.input:focus:invalid {
    border: 2px solid #CB3D40;
}

@media screen and (max-width: 767px) {
    .input {
        width: 328px;
    }
}
