.get {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 704px;
}

@media screen and (max-width: 360px) {
    .get {
        max-width: 328px;
    }
}

@media screen and (min-width: 768px) {
    .get {
        max-width: calc(344px * 2 + 16px);
    }
}

@media screen and (min-width: 1024px) {
    .get {
        max-width: calc(282px * 3 + 29px * 2);
    }
}
