.post {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 704px;
}

@media screen and (max-width: 767px) {
    .post {
        max-width: 328px;
    }
}