.get__users {
    max-width: calc(370px * 3 + 29px * 2);
    display: flex;
    margin: 0 auto;
    row-gap: 29px;
    column-gap: 29px;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 1280px) {
    .get__users {
        max-width: calc(282px * 3 + 29px * 2);
    }
}

@media screen and (max-width: 1023px) {
    .get__users {
        max-width: calc(344px * 2 + 16px);
        row-gap: 16px;
        column-gap: 16px;
    }
}

@media screen and (max-width: 767px) {
    .get__users {
        row-gap: 20px;
        max-width: 328px;
    }
}