.get__users {
    display: flex;
    justify-content: space-between;
    row-gap: 29px;
    column-gap: 29px;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .get__users {
        row-gap: 20px;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    .get__users::after {
        content: "";
        flex: auto;
    }
}