.form__preview {
    margin: 0;
    width: calc(380px - 83px);
    display: flex;
    background-color: transparent;
    border-left: none;
    box-sizing: border-box;
    border-radius: 0px 4px 4px 0px;
}

@media screen and (max-width: 768px) {
    .form__preview {
        width: calc(328px - 83px);
    }
}