@import url("./vendor/normalize.css");
@import url("./vendor/fonts/fonts.css");

* {
  font-family: Nunito;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: white;
}

.header__image {
  margin-right: 4px;
  max-width: 104px;
  max-height: 26px;
}

.header__button-users {
  margin-left: 10px;
}

.header__button-signup {
  margin-left: 10px;
}

.desc {
  position: relative;
  height: 500px;
}

.desc__background {
  position: absolute;
  z-index: -1;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.desc__info {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.desc__title {
  margin: 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: white;
}

.desc__content {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: white;
}

.desc__button-signup {
  margin: 0 auto;
  margin-top: 32px;
}

.contacts {
  padding-top: 140px;
  padding-bottom: 100px;
  background-color: #E5E5E5;
}

.get {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.get__more {
  margin: 0 auto;
  margin-top: 30px;
}

.user {
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.user__avatar {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 70px;
  border-radius: 50%;
}

.user__info {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  white-space: pre-line;
}

.post {
  margin: 0 auto;
}

.post__title {
  margin: 0;
  margin-top: 140px;
}

.form__tel-tip {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #7E7E7E;
}

.form__file-element {
  display: flex;
  margin-top: calc(47px - 13px);
}

.form__file-uploader {
  width: 0;
}

.form__file-label {
  padding: 14px 15px;
  border: 1px solid rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  border-radius: 4px 0px 0px 4px;
  
}

.form__preview {
  display: flex;
  background-color: #F8F8F8;
  border: 1px solid #D0CFCF;
  box-sizing: border-box;
  border-radius: 0px 4px 4px 0px;
}

.form__preview-text {
  margin: auto auto auto 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #7E7E7E;
}

.form__submit {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.position__title {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.position__radios {
  display: flex;
  flex-direction: column;
}

.position__subject {
  display: flex;
  margin-bottom: 13px;
}

.position__subject label {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-size: 16px;
}

.position__radio {
  border: 0px;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.button {
  border: none;
  width: 100px;
  height: 34px;
  border-radius: 80px;
  background-color: #F4E041;
  font-size: 16px;
  line-height: 26px;
}

.input {
  border: 1px solid #D0CFCF;
  box-sizing: border-box;
  border-radius: 4px;
}

.title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

@media screen and (max-width: 360px) {
  .header {
    max-width: 360px;
    height: 60px;
  }

  .input {
    width: 328px;
    height: 54px;
    margin-top: 50px;
    text-indent: 16px;
  }

  .get {
    max-width: 328px;
  }

  .post {
    max-width: 328px;
  }

  .desc__background {
    /* There is something strange =\ */
    background-position-y: -87vw;
    background-position-x: 51%;
    height: 226vw;
  }

  .desc__info {
    max-width: 328px;
  }

  .desc__title {
    margin-top: 40px;
  }

  .desc__content {
    margin-top: 21px;
  }
  
  .user {
    max-width: 328px;
  }

  .form__tel-tip {
    margin-left: calc( 32px - ((360px - 328px) / 2));
    margin-top: 4px;
  }

  .form__preview {
    width: calc(328px - 83px);
  }
}
