.header__button-signup {
    margin-left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.header__button-signup:link, .header__button-signup:visited,
.header__button-signup:link:active, .header__button-signup:visited:active {
    color: black;
}